

<div class="jumbotron" >
    <h3 >My Todos !</h3>
    <form  action='' ng-submit='signup()'>
        <input  type='email' placeholder='Email' ng-model='user.email' class='col-xs-8 new-todo' />
        <input  type='password' placeholder='Password' ng-model='user.password' class='col-xs-8 new-todo' />
        <input  type='password' placeholder='Password' ng-model='user.password_confirmation' class='col-xs-8 new-todo' />
        <br />
        <input type='submit' value='Signup!' / >
    </form>



</div>
